/* line 9, ../sass/style.scss */
.container {
  display: flex;
}
/* line 12, ../sass/style.scss */
.container .section1, .container .section2 {
  height: 100vh;
  width: 50%;
}
/* line 16, ../sass/style.scss */
.container .section1 {
  position: relative;
}
/* line 18, ../sass/style.scss */
.container .section1 .logo {
  margin-top: 5%;
  margin-left: 20%;
}
/* line 21, ../sass/style.scss */
.container .section1 .logo img {
  height: 5%;
}
/* line 25, ../sass/style.scss */
.container .section1 form {
  position: absolute;
  left: 20%;
  top: 25%;
  color: #222529;
  height: 50%;
  width: 50%;
}
/* line 33, ../sass/style.scss */
.container .section1 form .form__header h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-family: "NebasNeue";
}
/* line 39, ../sass/style.scss */
.container .section1 form .form__input {
  display: flex;
  flex-direction: column;
  height: 20%;
}
/* line 45, ../sass/style.scss */
.container .section1 form .form__input label {
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 3%;
  font-family: "SourceSans-semibold";
  color: #868e95;
}
/* line 53, ../sass/style.scss */
.container .section1 form .form__input input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
}
/* line 63, ../sass/style.scss */
.container .section1 form .form__input button {
  height: 50%;
  width: 100%;
  border: none;
  border-radius: 0.25em;
}
/* line 73, ../sass/style.scss */
.container .section1 form .form__input input {
  background-color: #f1f3f5;
}
/* line 76, ../sass/style.scss */
.container .section1 form .form__input button {
  background-color: #01ce9f;
  color: #fff;
  text-transform: uppercase;
}
/* line 84, ../sass/style.scss */
.container .section1 form .form__container {
  height: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  font-family: "SourceSans-regular";
}
/* line 92, ../sass/style.scss */
.container .section1 form .form__container .form__checkbox input {
  display: none;
}
/* line 95, ../sass/style.scss */
.container .section1 form .form__container .form__checkbox label {
  position: relative;
  padding-left: 25px;
  display: inline-block;
}
/* line 101, ../sass/style.scss */
.container .section1 form .form__container .form__checkbox label:before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  position: absolute;
  background-color: #f1f3f5;
  left: 0;
  border-radius: 0.25em;
}
/* line 111, ../sass/style.scss */
.container .section1 form .form__container .form__checkbox input:checked + label:before {
  content: "\2713";
  text-align: center;
  color: #fff;
  background-color: #01ce9f;
}
/* line 120, ../sass/style.scss */
.container .section1 form .form__container .password__restore a {
  color: #01ce9f;
  text-decoration: none;
  font-family: "SourceSans-semibold";
}
/* line 129, ../sass/style.scss */
.container .section1 form .signup {
  display: flex;
  margin-top: 24px;
  font-family: "SourceSans-regular";
}
/* line 134, ../sass/style.scss */
.container .section1 form .signup a {
  color: #01ce9f;
  text-decoration: none;
  padding-left: 5px;
  font-family: "SourceSans-semibold";
}
/* line 144, ../sass/style.scss */
.container .section2 {
  width: 50%;
  text-align-last: right;
}
/* line 147, ../sass/style.scss */
.container .section2 img {
  height: 100vh;
}
